<h1>Dashboard</h1>

<div class="row">
  <div class="col-sm-6 col-lg-6">
    <div class="list-group">
      <a href="#" class="list-group-item active"> Today's top 5 donations</a>
      <% @todays.each do |donation| %>
      	<a href="/donations/<%= donation.id %>" class="list-group-item"><span class="badge">$<%= donation.amount %></span><%= donation.contact.full_name  %></a>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6 col-lg-6">
    <div class="list-group">
    	<a href="#" class="list-group-item active"> Top 5 donations of the year</a>
      <% @top_donations.each do |donation| %>
      	<a href="/donations/<%= donation.id %>" class="list-group-item"><span class="badge">$<%= donation.amount %></span><%= donation.contact.full_name  %></a>
      <% end %>
    </div>
  </div>
</div>

<div class="row">

	<div class="col-sm-6 col-lg-6">
	  <div class="list-group">
	    <a href="#" class="list-group-item active"> Total donations</a>
	    <a href="#" class="list-group-item"><span class="badge">$<%= @current_week_donations %></span>This week</a>
	    <a href="#" class="list-group-item"><span class="badge">$<%= @current_month_donations %></span><%= current_month_name %></a>
	    <a href="#" class="list-group-item"><span class="badge">$<%= @last_month_donations %></span><%= last_month_name %></a>
	    <a href="#" class="list-group-item"><span class="badge">$<%= @current_year_donations %></span><%= current_year %></a>
	  </div>
	</div>

	<div class="col-sm-6 col-lg-6">
	  <div class="list-group">
	    <a href="#" class="list-group-item active"> Total donation in last 5 months</a>
	    <a href="#" class="list-group-item"><span class="badge">$100</span>2017</a>
	    <a href="#" class="list-group-item"><span class="badge">22</span>2016</a>
	    <a href="#" class="list-group-item"><span class="badge">51</span>Porta ac consectetur ac</a>
	    <a href="#" class="list-group-item"><span class="badge">99</span>Vestibulum at eros</a>
	  </div>
	</div>

</div>