<%= render '/layouts/alert', notice: notice %>

<h1>Contacts</h1>
<div class="col-sm-offset-9 col-sm-12 col-lg-offset-9 col-lg-12">
  <%= link_to 'New Contact', new_contact_path, class: 'btn btn-primary' %>
</div>
<div class="col-sm-12 col-lg-12">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.full_name %></td>
          <td>
            <div class="btn-group">
              <%= link_to 'Record donation', new_donation_path(contact_id: contact.id), class: 'btn btn-sm btn-info' %>
              <%= link_to 'View', contact, class: 'btn btn-sm btn-primary' %>
              <%= link_to 'Edit', edit_contact_path(contact), class: 'btn btn-sm btn-warning' %>
              <%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<br>

