<%= render '/layouts/alert', notice: notice %>
<p>
  <strong>Donar:</strong>
  <%= link_to @donation.contact.full_name, @donation.contact %>
</p>

<p>
  <strong>Amount:</strong>
  <%= format_amount(@donation) %>
</p>

<p>
  <strong>Donation date:</strong>
  <%= @donation.donation_date.to_date %>
</p>

<p>
  <strong>Event:</strong>
  <%= @donation.event.try(:name) %>
</p>

<p>
  <strong>Donation purpose:</strong>
  <%= @donation.payment_purpose.try(:name) %>
</p>

<p>
  <strong>Donation mode:</strong>
  <%= @donation.payment_mode.try(:name) %> 
</p>

<% if @donation.by_cheque? %>
	<p>
	  <strong>Bank name:</strong>
	  <%= @donation.bank_name %> 
	</p>

	<p>
	  <strong>Cheque number:</strong>
	  <%= @donation.cheque_number %> 
	</p>
<% end %>

<div class="btn-group">
	<%= link_to 'Download Receipt', @donation, class: 'btn btn-primary' %>
	<%= link_to 'Record Another Donation', new_donation_path(), class: 'btn btn-info' %>
	<%= link_to 'Edit', edit_donation_path(@donation), class: 'btn btn-warning' if admin_signed_in? %>
	<%= link_to 'Back', donations_path, class: 'btn btn-default' if admin_signed_in? %>
</div>
