<%= form_for "/reports/index", method: :post, html: {class: 'form-horizontal'} do |f| %>
	<div class='row'>
		<div class="col-sm-2 col-lg-2">
			<div class="form-group">
				<%= text_field_tag "first_name", params['first_name'], class: 'form-control', placeholder: 'First Name' %>
			</div>
		</div>

		<div class="col-sm-2 col-lg-2">
			<div class="form-group">
				<%= text_field_tag "last_name", params['last_name'], class: 'form-control', placeholder: 'Last Name' %>
			</div>
		</div>
		
		<div class="col-sm-2 col-lg-2">
			<div class="form-group">
				<%= text_field_tag "email", params['email'], class: 'form-control', placeholder: 'Email' %>
			</div>
		</div>

		<div class="col-sm-2 col-lg-2">
			<div class="form-group">
				<%= text_field_tag "phone", params['phone'], class: 'form-control', placeholder: 'Phone' %>
			</div>
		</div>

		<div class="col-sm-2 col-lg-2">
			<div class="form-group">
				<%= text_field_tag "amount", params['amount'], class: 'form-control', placeholder: 'Amount' %>
			</div>
		</div>

		<div class="col-sm-2 col-lg-2">
  		<%= submit_tag 'Search', class: 'btn btn-info' %>
		</div>

	</div>
<% end %>